{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'homestyle.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Welcome to SteamCopy</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="description">SteamCopy is a website that allows you to buy and play games. You can also
                create an account and add games to your library.</p>
        </div>
    </div>
    <div class="row">
    </div>
{% endblock %}