{% extends 'base.html' %}
{% load static %}
{% block title %}{{game.title}}{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'game.css' %}">
{% endblock %}

{% block content %}

<div class="game-detail">
    <h2>{{ game.title }}</h2>
    
    <div class="game-cover">
        <img src="{{ game.cover.url }}" alt="{{ game.title }} cover">
    </div>
    
    <div class="game-description">
        <p>{{ game.description }}</p>
    </div>

    <div class="game-actions">
        {% if not game in ownedgames %}
        <a class="game-action" href="{% url 'add_game' game.id %}" role="button" style="background-color: green;">Add to cart.</a>
        {% else %}
        <a id="remove" class="game-action" href="{% url 'remove_game' game.id %}" role="button">Remove from your library.</a>
        <a id="rate" class="game-action" href="{% url 'rate_game' game.id %}" role="button">Rate the game.</a>
        {% endif %}
    </div>
<br>
    <div class="game-ratings">
        <h3>Ratings:</h3>
        <p>Positives: {{positivereviews_count}}</p>
        <p>Negatives: {{negativereviews_count}}</p>
        

        {% if positivereviews or negativereviews %}

        {% for review in positivereviews %}
        <div class="review">
            <p>Review by: {{review.author}}</p>
            <p>Rating: <span style="color: green;">Positive</span></p>
            <p>{{review.content}}</p>

        </div>
        {% endfor %}
        {% for review in negativereviews %}
        <div class="review">
            <p>Review by: {{review.author}}</p>
            <p>Rating: <span style="color: red;">Negative</span></p>
            <p>Review content: <br>{{review.content}}</p>

        </div>
        {% endfor %}

        {% endif %}
    </div>
</div>

{% endblock %}