{% extends 'base.html' %}
{% load static %}
{% block title %}Store{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'store.css' %}">
{% endblock %}

{% block content %}

<div class="game-store">
    {% for game in games %}
        <div class="game">
            <img src="{{ game.cover.url }}" alt="{{ game.title }} Cover" />
            <h2>{{ game.title }}</h2>
            <p class="game-desc">{{ game.description }}</p>
            {% if not game in ownedgames %}

            {% if game.deal > 0 %}
                <p class="discounted-price">{{ game.price }} $</p>
                <p class="new-price">{{ game.get_discounted_price }} $ ({{ game.deal }}% off) </p>
            {% else %}
                <p class="game-price">Price: {{ game.price }} $</p>
            {% endif %}
            <a href="{% url 'game' game.id %}" class="buy-button">Details</a>
            {% else %}
                <p class="game-price">You own this product.</p>
                <a href="{% url 'game' game.id %}" class="buy-button">Details</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}