body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    color: white;
}

.headline {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.user-panel {
    display: flex;
    flex-wrap: wrap; /* Enable the flex items to wrap in small screens */
    height: 100vh;
}

.panel-left, .panel-right {
    box-sizing: border-box;
    width: 50%; /* Set the width of the panels to 50% */
    padding: 1rem;
}
.panel-left {
    align-items: center; /* Wyśrodkowanie horyzontalne elementów w kontenerze flex */
    justify-content: center; /* Wyśrodkowanie wertykalne elementów w kontenerze flex */
}

.panel-left-top, .panel-left-bottom {
    background: rgb(43, 43, 43);
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel-right {
    background: rgb(43, 43, 43);
    text-align: center; /* Aby wyśrodkować nagłówek */
}
.headline-container h1 {
    margin-bottom: 20px; /* Odstęp pomiędzy nagłówkiem a kafelkami */
}

.tile-text {
    text-shadow: 2px 2px 2px #000000; /* Cień jest przesunięty o 2px w prawo i 2px w dół, ma rozmycie 2px, i jest czarny */

}
.game-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit; /* Dziedziczy kolor tekstu od elementu rodzica */
}
a:hover {
    text-decoration: none;
    color: inherit; /* Dziedziczy kolor tekstu od elementu rodzica */
}


.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-tile {
    display: flex; /* Ustawienie rodzica jako flex container */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
    position: relative; /* Ustawienie pozycji dla zawartości */
    height: 200px; /* Przykładowa wysokość dla diva */
    width: calc(50% - 10px); /* Dwa kafelki obok siebie, z odstępem */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.tile-text {
    text-align: center;
    margin: 0;
}

.game-link {
    display: flex; /* Dodanie, aby zachować strukturę flex dla dzieci */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
    width: 100%; /* Szerokość 100% kontenera */
    height: 100%; /* Wysokość 100% kontenera */
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .tile {
        width: 100%; /* Jeden kafelek na szerokość ekranu na małych ekranach */
    }
}
@media (max-width: 768px) {
    .panel-left, .panel-right {
        width: 100%; /* Set the width of the panels to 100% in small screens */
    }

    .panel-left-top, .panel-left-bottom {
        margin-bottom: 0.5rem;
    }
}