textarea {
    width: 80%;
    resize: none;
}
.card-body {
    background-color: rgb(43, 43, 43) !important;
}
.card {
    color: white !important;
    border: 1px solid black !important;
}
.card-header {
    background-color: rgb(31, 31, 31) !important;
}